
.user-dashboard-header-container{
    height: 100px;
    display: flex;
    width: 100%;
    box-shadow: 0 8px 25px rgb(209, 208, 208);
}

.user-dashboard-header-sections{
    display: flex;
    width: 1470px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.user-dashboard-header-logo{
    display: flex;
    align-items: center;
    font-weight: 800;
}

.user-dashboard-header-logo h3{
    font-size: 35px;
    color: #FF6767;
}
.user-dashboard-header-logo h2{
    font-size: 35px;
}

.user-dashboard-header-form input{
    width: 695px;
    height: 36px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px ;
    padding: 10px;
}

.input-user-header {
    position: relative;
    width: 695px; /* ширина input */
}

.input-user-header input {
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px;
    padding: 10px;
    box-sizing: border-box;
}

.input-user-header button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px; 
    width: 36px;
    padding: 0 10px;
    
    background-color: #FF6767;
    color: white;
    border-radius:10px;
    border: none;
    cursor: pointer;
}

.user-dashboard-header-info{
    display: flex;
    gap: 40px;
    align-items: center;
}

.user-dashboard-header-info-button{
   display: flex;
   gap: 10px;
}

.user-dashboard-header-info-button button{
    height: 30px; 
    width: 36px;
    background-color: #FF6767;
    color: white;
    border-radius:10px;
    border: none;
    cursor: pointer;
}

.user-dashboard-header-info-time-time{
    padding-left: 10px;
    color: #3ABEFF;
}
